// ------
// Header
// ------
.content-wrapper {
    width: 705px;
    height: 524px;
}

header {
    height: 223px;
    left: 27px;
    position: absolute;
    top: 0;
    width: 246px;   
    z-index: 100;
}