#job-wrapper {
    #below-apply-button {
        text-align: center;
        width: 100%;
    }
}

.btn-callout {
    @extend %display-inline-block;

    background-color: rgba($purple, .8);
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: #808080 5px 5px 5px;
    height: 40px;
    margin: auto;
    opacity: .6;
    padding: 6px;
    text-align: center;
    width: 125px;

    @include link-colors($white, $white);
    @include transition(all .125s ease);

    &:hover {
        background-color: $purple;
    }
}
